# Intialisation Steps
Connecting to Snowflake

## Importing required modules

In [1]:
import pandas as pd
from drg_connect import Snowflake
import qgrid 
from datetime import timedelta, datetime
import math

import warnings
warnings.filterwarnings('ignore')

## Snowflake connection parameter

In [2]:
##defining parameters of snowflake
snow = Snowflake(role = 'RWD_ANALYTICS_RW',database='SANDBOX_ANALYTICS',schema = 'SANDBOX')
engine = snow.engine

%reload_ext sql_magic
%config SQL.output_result = True  #Enable output to std out
%config SQL.notify_result = False #disable browser notifications
%config SQL.conn_name = 'engine'  #Set the sql_magic connection engine

# Queries from here

## Check albatross
- Disease of interest: Activated PI3K-delta syndrome (APDS)
- Look into the results table

In [5]:
snow.select ("select * from RWD_DB.RWD.PELICAN_DIAGNOSIS_SNOMED limit 3")

          diagnosis_id  concept_id    source
0  6586819920651949987     1201005  original
1  8160560165305371842   388983002  original
2  8160560165305371842   388982007  original

In [6]:
%%read_sql
create or replace table st_APDS as
select
    *
from
    RWD_DB.RWD.PELICAN_DIAGNOSIS_SNOMED
where
    concept_id in ('711480000')

Query started at 04:15:09 PM India Standard Time; Query executed in 0.11 m

                                status
0  Table ST_APDS successfully created.

In [7]:
snow.select ("select count (distinct diagnosis_id) from st_APDS")

   COUNT (DISTINCT DIAGNOSIS_ID)
0                              2

In [8]:
%%read_sql
create or replace table st_alb_APDS as
select
    snomed,
    name,
    category,
    left(recordeddttm, 4) as recorded_year,
    left(encrypted_key_1, 8)||left(encrypted_key_2, 8) as pt_id
from
    RWD_DB.RWD.ALBATROSS_EHR_PROBLEMS
    where snomed in ('711480000')

Query started at 04:29:23 PM India Standard Time; Query executed in 9.72 m

                                    status
0  Table ST_ALB_APDS successfully created.

In [10]:
snow.select ("select count (distinct pt_id) from st_alb_APDS")

   COUNT (DISTINCT PT_ID)
0                       3